# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Code Editors
/.idea
/.vscode
/*.csproj
/*.sln
*.swp

# Unity
/Library
/Temp

# Depthkit
/Assets/Ditho/Script/Depthkit_Metadata.cs

# Large files
*.mov
